@font-face {
    font-family: 'conduit-itc-regular';
    src: url('conduit-itc-regular.eot');
    src: url('conduit-itc-regular.eot?#iefix') format('embedded-opentype'),
        url('conduit-itc-regular.woff2') format('woff2'),
        url('conduit-itc-regular.woff') format('woff'),
        url('conduit-itc-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'conduit-itc-light';
    src: url('conduit-itc-light.eot');
    src: url('conduit-itc-light.eot?#iefix') format('embedded-opentype'),
        url('conduit-itc-light.woff2') format('woff2'),
        url('conduit-itc-light.woff') format('woff'),
        url('conduit-itc-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
