@import url("font/stylesheet.css");
body, html {
  margin: 0px;
  padding: 0px;
  font-family: "Dax-Regular";
}

body {
  background: #fff;
  color: #2F2C28;
}
body .logo_dark {
  display: none;
}

.wrap {
  max-width: 400px;
  margin: auto;
  padding-bottom: 100px;
}

.page {
  padding: 0px 20px;
}
.page .logo {
  text-align: center;
  margin: 63px 0px;
}
.page .add_contact {
  position: fixed;
  bottom: 20px;
  left: 0px;
  width: 100%;
  text-decoration: none;
  z-index: 2;
}
.page .add_contact span {
  background: #aa302f;
  border-radius: 16px;
  height: 40px;
  font-family: "Dax-Medium";
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  display: block;
  margin: 0px 20px;
}

.user {
  text-align: center;
  border-bottom: 1px solid #2F2C28;
  padding-bottom: 20px;
  margin-bottom: 35px;
}
.user .photo {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  border: 1px solid #000000;
  margin-bottom: 30px;
}
.user .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user .name {
  font-family: "Dax-Medium";
  font-size: 27px;
  line-height: 27px;
  text-align: center;
}
.user .role {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}

.options .item {
  position: relative;
  padding-right: 55px;
  margin-bottom: 20px;
}
.options .item .name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: #656360;
  text-transform: uppercase;
}
.options .item .value {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #2F2C28;
  text-decoration: none;
}
.options .item .icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.smm {
  position: relative;
}
.smm .title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: #656360;
  margin-bottom: 5px;
  border-top: 1px solid #2F2C28;
  padding-top: 20px;
  display: inline-block;
  text-transform: uppercase;
}
.smm .link {
  text-align: center;
}
.smm .link a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  background: #2F2C28;
  margin-right: 25px;
}
.smm .link a:last-child {
  margin-right: 0px;
}

body.dark {
  background: #2F2C28;
  color: #FFFFFF;
}
body.dark .logo_light {
  display: none;
}
body.dark .logo_dark {
  display: inline-block;
}
body.dark .user {
  border-color: #FFFFFF;
}
body.dark .options .item .name {
  color: #797875;
}
body.dark .options .item .value {
  color: #FFFFFF;
}
body.dark .options .item .icon svg {
  fill: #fff;
}
body.dark .options .item .icon svg path {
  fill: #fff;
}
body.dark .smm .title {
  color: #797875;
}
body.dark .smm .link a {
  background: #FFFFFF;
}
body.dark .smm .link a svg {
  fill: #2F2C28;
}
body.dark .smm .link a svg path {
  fill: #2F2C28;
}

.theme_swith {
  text-align: center;
  margin-top: 50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px rgba(32, 32, 32, 0.2392156863);
  background: white url("https://i.ibb.co/FxzBYR9/night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
