body,html{
    margin:0px;
    padding: 0px;
    background: var(--css_color_front_bg);
    color: var(--css_color_front_text);
    font-family: Roboto;
}

a{
    color: var(--css_color_front_link);
}

.tt-wrap{
    max-width: 500px;
    margin: auto;
    background: var(--css_color_front_wrap_bg);
    padding-bottom: 70px;
}

.tt-header-box{
    height: 500px;
    position: relative;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    color: var(--css_color_front_header_color);
}

.tt-header-box a.tt-header-box_login{
    position: absolute;
    top: 10px; right:10px;
    font-size:13px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    z-index: 20;
    color: var(--css_color_front_header_color);
}

.tt-header-box:after{
    display: block;
    width: 100%;
    content: "";
    position: absolute;
    background: linear-gradient(0deg,rgba(0,0,0,0),var(--css_color_front_header_grad));
    opacity: .3;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 10;

}

.tt-header-box:before{
    display: block;
    width: 100%;
    content: "";
    position: absolute;
    background: linear-gradient(180deg,rgba(0,0,0,0),var(--css_color_front_header_grad));
    opacity: .7;
    bottom: 0;
    left: 0;
    height: 183px;
    z-index: 10;
}

.tt-header-box .tt-name-photo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.tt-header-box .tt-name-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tt-name-panel{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
}

.tt-name-panel h1{
    font-size: 26px;
    margin: 0px;
    padding: 0px 15px;
}

.tt-company{
    padding: 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.tt-company-logo{
    width: 10%;
    margin-right: 15px;
}

.tt-company-logo img{
    width: 100%;
}

[dir=rtl] .tt-company-logo{
    margin-left: 20px;
}

.tt-company-name{
    font-weight: bold;
}

.tt-company-role{
    margin-left: 7px;
    padding-left: 20px;
    position: relative;
}

.tt-company-role:before{
    content: '•';
    position: absolute;
    top: -2px;
    left: 0px;
}

.tt-user-item{
    padding: 0px 15px;
    margin: 10px 0px 20px 0px;
}

.tt-user-item small{
    color: var(--css_color_front_placeholder);
}

.tt-fix-b-panel{
    position: fixed;
    width: 100%;
    bottom: 20px;
    left: 0px;
    text-align: center;
}

.tt-fix-b-panel .tt-add-vCard{
    max-width: 350px;
    width: 100%;
    background: var(--css_color_front_primary);
    color: var(--css_color_front_primary_white);
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;

}

section{
    margin-bottom: 30px;
}

section .tt-section-title{
    background: var(--css_color_front_primary);
    color: var(--css_color_front_primary_white);
    font-size: 16px;
    padding: 10px 15px;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
}


.tt-soc-link{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.tt-soc-link > span{
    display: inline-flex;
    padding: 5px 10px;
    font-size: 12px;
    color: var(--css_color_front_primary);
    text-decoration: none;
    border: 1px solid var(--css_color_front_primary);
    border-radius: 5px;
    margin-left: auto;;
}

[dir=rtl] .tt-soc-link > span{
    margin-right: auto;
    margin-left: 0px;
}

[dir=rtl] .tt-soc-link > img{
    margin-left: 10px;
}

[dir=rtl] .tt-company-role{
    margin-right: 20px;
}

[dir=rtl] .tt-user-item-phones-a a{
    display: block;
    direction: ltr;
    text-align: right;
}

.tt-soc-link > img{
    width: 30px;
    margin-right: 10px;
}

.footer_lang_list{
    text-align: center;
}

.footer_lang_list a{
    display: inline-block;
    margin: 0px 10px;
}

.footer_lang_list img{
    width: 30px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.videoSwiper .swiper-pagination{
    position: initial;
}

.videoSwiper .swiper-pagination .swiper-pagination-bullet{
    background: var(--css_color_front_link);
}

.swiper-button-next, .swiper-button-prev{
    width: 50px;
    height: 50px;
    background: #ffffff91;
    border-radius: 50px;
    color: var(--css_color_front_link);
    text-align: center;
}

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 16px;
}